<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include('../../layouts/scripts.ejs') %>
    <script>
        $(function() {
            Swal.fire({
                title:'Xác nhận Email thành công',
                icon: 'success',
                allowOutsideClick: false,
                showCloseButton: true,
                showCancelButton: false,
                confirmButtonText: 'Đến trang đăng nhập',
                preConfirm: () => {
                    location.href = '/authentication'
                }
            })
        })        
    </script>
</body>
</html>