<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Tên</span>
        </div>
        <input type="text" id="name" class="form-control">
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
        </div>
        <input type="text" id="email" class="form-control">
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Mật khẩu</span>
        </div>
        <input type="password" id="password" class="form-control">
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Xác nhận</span>
        </div>
        <input type="password" id="confirm" class="form-control">
    </div>
</div>