<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renew Password</title>
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <%- include('../../layouts/scripts.ejs') %>
    <script>
        $(function () {
            Swal.fire({
                title: 'Đặt lại mật khẩu',
                html: `
                    <input placeholder="Mật khẩu mới" style="display:block; width:100%;" class="mb-10" type="password" id="password">
                    <input placeholder="Nhập lại mật khẩu" style="display:block; width:100%;" type="password" id="confirm">
                `,            
                allowOutsideClick: false,
                showCloseButton: false,
                showCancelButton: false,
                confirmButtonText: 'Xác nhận',
                showLoaderOnConfirm: true,
                preConfirm: async () => {
                    try {
                        let urlParams = new URLSearchParams(window.location.search);
                        const formData = new FormData();                        
                        formData.append('password', $('#password').val());
                        formData.append('confirm', $('#confirm').val());
                        formData.append('code', urlParams.get('code'));

                        let response = await fetch('/authentication/renew-password', {
                            method: 'POST',
                            body: formData
                        })
                        response = await response.json();
                        if(response == 'success') {
                            return await Swal.fire({
                                title: 'Thành công',
                                icon: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Xác nhận',
                                preConfirm: () => {
                                    location.href = '/authentication';
                                }
                            })
                        } else {
                            const errors = response.validationErrors;
                            errors.forEach((error) => {
                                $('#' + error.param).tooltip({
                                    placement: 'bottom',
                                    title: error.msg,
                                    trigger: 'manual',
                                });
                                $('#' + error.param).tooltip('show');
                                $('#' + error.param).focus(() =>
                                    $('#' + error.param).tooltip('hide'),
                                );
                            });
                            return false;
                        }
                    } catch (err) {
                        return location.href = '/500'
                    }
                }
            })
        })        
    </script>
</body>

</html>