<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layouts/head.ejs') %>
    <!-- Data Table CSS -->
    <link href="/vendors/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    
    <!-- Toggles CSS -->
    <link href="/vendors/jquery-toggles/css/toggles.css" rel="stylesheet" type="text/css">
    <link href="/vendors/jquery-toggles/css/themes/toggles-light.css" rel="stylesheet" type="text/css">
    
    <!-- select2 CSS -->
    <link href="/vendors/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet" type="text/css">
    <link href="/dist/css/custom.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('../../layouts/preloader.ejs') %>
    <!-- HK Wrapper -->
    <div class="hk-wrapper hk-vertical-nav">
        <%- include('../../layouts/navigation.ejs') %>

        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <!-- Breadcrumb -->
            <nav class="hk-breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light bg-transparent">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->
        
            <!-- Container -->
            <div class="container">
        
                <!-- Title -->
                <div class="hk-pg-header">
                    <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i
                                    data-feather="database"></i></span></span>Quản lý người dùng</h4>
                </div>
                <!-- /Title -->
        
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <h5 class="hk-sec-title">Quản lý người dùng</h5>  
                            
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="userTable" class="table table-hover w-100 display pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Email</th>
                                                    <th>Tên</th>
                                                    <th>Số ĐT</th>
                                                    <th>Tuổi</th>
                                                    <th>Giới tính</th>
                                                    <th>Xem thêm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- <tr>                                                    
                                                    <td>Tiger Nixon</td>
                                                    <td>System Architect</td>
                                                    <td>Edinburgh</td>
                                                    <td>61</td>
                                                    <td>2011/04/25</td>
                                                    <td>$320,800</td>
                                                </tr>                                                 -->
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Email</th>
                                                    <th>Tên</th>
                                                    <th>Số ĐT</th>
                                                    <th>Tuổi</th>
                                                    <th>Giới tính</th>
                                                    <th>Xem thêm</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>                        
                    </div>
                </div>
                <!-- /Row -->
        
            </div>
            <!-- /Container -->
        
            <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Pampered by<a href="https://hencework.com/" class="text-dark" target="_blank">Hencework</a> ©
                                2019</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-inline-block">Follow us</p>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                                    class="btn-icon-wrap"><i class="fa fa-facebook"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                                    class="btn-icon-wrap"><i class="fa fa-twitter"></i></span></a>
                            <a href="#" class="d-inline-block btn btn-icon btn-icon-only btn-indigo btn-icon-style-4"><span
                                    class="btn-icon-wrap"><i class="fa fa-google-plus"></i></span></a>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /Footer -->
        
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <%- include('../../layouts/scripts.ejs') %>
    <!-- Slimscroll JavaScript -->
    <script src="/dist/js/jquery.slimscroll.js"></script>
    
    <!-- Data Table JavaScript -->
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/vendors/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        
    <!-- FeatherIcons JavaScript -->
    <script src="/dist/js/feather.min.js"></script>
    
    <!-- Fancy Dropdown JS -->
    <script src="/dist/js/dropdown-bootstrap-extended.js"></script>
    
    <!-- Toggles JavaScript -->
    <script src="/vendors/jquery-toggles/toggles.min.js"></script>
    <script src="/dist/js/toggle-data.js"></script>

    <!-- Select2 JavaScript -->
    <script src="/vendors/select2/dist/js/select2.full.min.js"></script>
        
    <!-- Init JavaScript -->
    <script src="/dist/js/init.js"></script>
    <script src="/view-scripts/user-manager.js"></script>
</body>

</html>